extends ../components/base/layout

block variables
  - const title = "Сап серфинг В Москве" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .content
      +intro()
      include ../components/blocks/study
      include ../components/blocks/rent
      include ../components/blocks/travel
      include ../components/blocks/price
      include ../components/blocks/map
      include ../components/blocks/news
      include ../components/blocks/button-scroll-to-top


block modals
  +modal()(data-modal="map")
    include ../components/blocks/map-swiper
