mixin intro()
  section.intro
    .swiper(data-swiper)
      .swiper-wrapper
        .swiper-slide.aspect-ratio
          +picture("slides", "slide-4", "png", 991, 720, "sup surging в Строгино")
        .swiper-slide.aspect-ratio
          +picture("slides", "slide-2", "png", 1937, 1429, "sup surging в Строгино")
        .swiper-slide.aspect-ratio
          +picture("slides", "slide-5", "png", 1397, 1866, "sup surging в Строгино")
        .swiper-slide.aspect-ratio
          +picture("slides", "slide-3", "png", 1280, 1280, "sup surging в Строгино")
        .swiper-slide.aspect-ratio
          +picture("slides", "slide-6", "png", 1401, 1251, "sup surging в Строгино")
        //- .swiper-slide
        //-   +picture("slides", "slide-7", "png", 2000, 1500, "sup surging в Строгино")
        .swiper-slide.aspect-ratio
          +picture("slides", "slide-8", "png", 2000, 1500, "sup surging в Строгино")
        .swiper-slide.aspect-ratio
          +picture("slides", "slide-1", "png", 922, 658, "sup surging в Строгино")
      button(type="button").swiper-button-next.btn-reset
      button(type="button").swiper-button-prev.btn-reset
      .swiper-pagination
    h1.intro__title.title
      span.intro__heading SUP surfing
      | в Москве в Школе Ветра в Строгино
