mixin intro()
  section.intro
    .swiper(data-swiper)
      .swiper-wrapper
        //- .swiper-slide.aspect-ratio
        //-   +img("slides", "slide-4", "jpg", 991, 720, "sup surging в Строгино")
        //-   .swiper-lazy-preloader.swiper-lazy-preloader-white
        .swiper-slide.aspect-ratio
          +img("slides", "slide-2", "jpg", 1937, 1429, "sup surging в Строгино")
          .swiper-lazy-preloader.swiper-lazy-preloader-white
        .swiper-slide.aspect-ratio
          +img("slides", "slide-5", "jpg", 1397, 1866, "sup surging в Строгино")
          .swiper-lazy-preloader.swiper-lazy-preloader-white
        //- .swiper-slide.aspect-ratio
        //-   +img("slides", "slide-3", "jpg", 1280, 1280, "sup surging в Строгино")
        //-   .swiper-lazy-preloader.swiper-lazy-preloader-white
        //- .swiper-slide.aspect-ratio
        //-   +img("slides", "slide-6", "jpg", 1401, 1251, "sup surging в Строгино")
        //-   .swiper-lazy-preloader.swiper-lazy-preloader-white
        .swiper-slide.aspect-ratio
          +img("slides", "slide-8", "jpg", 2000, 1500, "sup surging в Строгино")
          .swiper-lazy-preloader.swiper-lazy-preloader-white
        .swiper-slide.aspect-ratio
          +img("slides", "slide-1", "jpg", 922, 658, "sup surging в Строгино")
          .swiper-lazy-preloader.swiper-lazy-preloader-white
      button(type="button").swiper-button-next.btn-reset
      button(type="button").swiper-button-prev.btn-reset
      .swiper-pagination
    h1.intro__title.title
      span.intro__heading SUP surfing
      | в Москве в&nbsp;Школе Ветра в&nbsp;Строгино
    p.intro__subtitle.subtitle Школа ветра в Строгино является, пожалуй, лучшей площадкой Москвы для занятий SUP- бордингом.

