mixin intro()
  section.intro.swiper(data-swiper)
    .swiper-wrapper
      .swiper-slide
    button(type="button").swiper-button-next
    button(type="button").swiper-button-prev
    .swiper-pagination
