.swiper(data-map-swiper)
  .swiper-wrapper
    .swiper-slide.aspect-ratio
      +picture("content/map", "map", "png", 1091, 738, "Схема прохода в Школу Ветра")
    .swiper-slide.aspect-ratio
      +picture("content/map", "map-1", "jpg", 1024, 768, "Схема прохода в Школу Ветра")
    .swiper-slide.aspect-ratio
      +picture("content/map", "map-2", "jpg", 1024, 768, "Схема прохода в Школу Ветра")
    .swiper-slide.aspect-ratio
      +picture("content/map", "map-3", "jpg", 1024, 768, "Схема прохода в Школу Ветра")
    .swiper-slide.aspect-ratio
      +picture("content/map", "map-4", "jpg", 870, 576, "Схема прохода в Школу Ветра")
