section.map.section#map
  .container
    h2.section__title.title.title--md Как нас найти
    p.subtitle Наша точка на карте 55.802489, 37.430614  - Плавдом на воде.
  <iframe title="Карта" class="map__ymaps" src="https://yandex.ru/map-widget/v1/?um=constructor%3A437ad9257d3af2ddfbc4bf24ee88e8867f8dac89d89e791a4951e7c74b260ffc&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
  .container
    .section__wrapper
      a(href="#" title="Увеличить" data-open-modal="map").section__img.map__img
        +picture("content/map", "map", "png", 1091, 738, "Схема прохода в Школу Ветра")
        +icon("icon-search", 24, 24).map__zoom-icon
      .map__info
        p.section__text.text Если Вы с водителем, или на такси, Вам нужна южная сторона Строгинского шоссе (та сторона, по которой Вы будете двигаться от МКАД к М. Щукинская), просто подъезжайте по адресу к воротам.
        strong.section__text.text.bold Внимание, парковки рядом с полуостровом нет (только осенью бывают свободные места перед воротами).

        h3.map__title.title.title--xs Оставить машину можно на северной стороне Строгинского шоссе:
        ol.map__list
          li.map__list-item На бесплатной парковке у ДПС <span class="bold">55.804723, 37.421614</span>;
          li.map__list-item На бесплатной парковке перед магазином Магнит, <span class="bold">55.804507, 37.420736</span>;
          li.map__list-item На дорожке перед заправкой BP <span class="bold">55.804309, 37.425379</span>;
          li.map__list-item На платной парковке за ДПС ГИБДД УВД по СЗАО <span class="bold">55.805047, 37.422118 (200 р в сутки, места есть всегда),
          li.map__list-item На площадке у трансформаторной подстанции (ТП) на северной стороне шоссе рядом с мостом (места на ~15 машин), <span class="bold">55.805001, 37.433850</span>;
          li.map__list-item На парковке под мостом (от М. Щукинская сразу направо после моста), <span class="bold">55.805511, 37.444359</span>.


