section.section.news
  .container
    h2.section__title.title.title--md Новости
    .swiper(data-news-swiper)
      .swiper-wrapper
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-1",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-2",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-1",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-2",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-1",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-2",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-1",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Заголовок новости",
            text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium obcaecati dolorem tempore commodi nulla ipsa laborum libero quaerat sapiente aut quidem nostrum similique consectetur ducimus, vitae reiciendis tenetur veniam! ",
            img: {
              name: "news-2",
              width: 1200,
              height: 900
            }
          })
      .swiper-pagination
