section.section.news#news
  .container
    h2.section__title.title.title--md Новости
    .swiper(data-news-swiper)
      .swiper-wrapper
        .swiper-slide
          +news-card({
            title: "САП корпоратив. Строгино <time datetime='2022-08-04 19:00'>4 августа 2022</time>",
            text: "В Москве антициклон - лучшие условия для САП серфинга. Проводим мы и вот такие корпоративы на 70  SUP участников одновременно. Это был маршрут в Чистый залив. Море эмоций у тех, кто первый раз на САПеv",
            img: {
              name: "news-0408",
              width: 400,
              height: 300
            }
          })
        .swiper-slide
          +news-card({
            title: "Прокат САП в Москве <time datetime='2022-07-31 19:00'>31&nbsp;июля 2022</time>",
            text: "Неделя обещает быть жаркой и&nbsp;маловетренной&nbsp;&mdash; в&nbsp;Москве антициклон. Самое время покататься на&nbsp;САП. Прокат САП работает с&nbsp;7:30 до&nbsp;темноты. Воспользуйтесь утренней акцией на&nbsp;прокат САП за&nbsp;полцены.",
            img: {
              name: "news-3107",
              width: 400,
              height: 300
            }
          })
        .swiper-slide
          +news-card({
            title: "В Москве жарко, сезон серфинга в разгаре <time datetime='2022-07-05 19:00'>05&nbsp;июля&nbsp;2022</time>",
            text: "САП станция Школы ветра открывается в&nbsp;7:30 по&nbsp;будням и&nbsp;в&nbsp;8:00 по&nbsp;выходным. Запишитесь и&nbsp;приходите на&nbsp;утреннюю акцию. САП досок много, но, если вы хотите покататься вы выходной день днем, забронируйте САП по телефону <a href='tel:+79166011546' class='link'> +7 916 601 1546</a>",
            img: {
              name: "news-1",
              width: 600,
              height: 800
            }
          })
        .swiper-slide
          +news-card({
            title: "Школа ветра&nbsp;&mdash; это не&nbsp;только виндсерфинг, но&nbsp;и&nbsp;САП центр <time datetime='2022-06-26 19:00'>26&nbsp;июня 2022</time>",
            text: "Когда жарко, и мало ветра, наша виндсерфинг станция превращается в САП центр. У нас 40 досок для САП серфинга и в жаркие выходные они все на воде. Станция работает по будням с 7:30 (по заявке накануне) до полной темноты. Прокат САП, обучение, САП-йога, дальние маршруты. Приходите - будем рады.",
            img: {
              name: "news-2",
              width: 1200,
              height: 900
            }
          })
        .swiper-slide
          +news-card({
            title: "Сезон САП. Москва, Школа&nbsp;ветра в&nbsp;Строгино <time datetime='2022-06-09 19:00'>09&nbsp;июня&nbsp;2022</time>",
            text: "Станция виндсерфинга и&nbsp;SUP серфинга работает 7&nbsp;дней в&nbsp;неделю с&nbsp;раннего утра до&nbsp;темноты",
            img: {
              name: "news-0906",
              width: 500,
              height: 281
            }
          })
      .swiper-pagination
