section.section.rent#rent
  .container
    .rent__img.aspect-ratio
      +picture("content", "rent", "jpg", 1024, 768,"Прокат SUP")
    h2.section__title.title.title--md Прокат SUP
    p.subtitle Вы также можете просто взять SUP доску в&nbsp;аренду и&nbsp;самостоятельно походить по&nbsp;Строгинскому затону.
    .section__wrapper
      p.text Большой выбор (более 40 штук) досок (жестких и надувных SUP разного уровня от больших устойчивых досок для начинающих до гоночных), квалифицированные инструкторы, и широкий спектр услуг позволят вам получить максимум удовольствия от этого самого быстро растущего досочного вида спорта.

      p.text В Школе ветра в Строгино для почасовой и посуточной аренды есть 9 жестких SUP досок трех разных производителей и более трех десятков надувных падлбордов разного объема и назначения (Гладиатор (Gladiator), Star Board, Unifiber, Aqua Marine, Bolerto, F2, Red Paddle, ITIWIT). Все эти SUP доски вы можете взять в аренду на час, или несколько часов, или увезти, чтобы покататься на другом водоеме.
      .section__img
        +picture("content", "rent-1", "jpeg", 1024, 768,"Прокат SUP")
      .section__img
        +picture("content", "rent-2", "jpeg", 1024, 768,"Прокат SUP")





