section.section.rent#rent
  .container
    .rent__img.aspect-ratio
      +picture("content", "rent", "jpg", 1024, 768,"Прокат SUP")
    h2.section__title.title.title--md Прокат SUP
    p.subtitle Вы также можете просто взять SUP доску в&nbsp;аренду и&nbsp;самостоятельно походить по&nbsp;Строгинскому затону.



