section.section#study
  .container
    +icon("icon-wave", 270, 60).section__icon
    h2.section__title.title.title--md Обучение SUP
    p.subtitle В Школе ветра вас ждет как профессиональный подход к&nbsp;процессу обучения, так и&nbsp;возможность прекрасно и&nbsp;насыщенно провести время в&nbsp;команде единомышленников.
