mixin submenu()

  ul.submenu.list-reset(role="list")&attributes(attributes)
    li.submenu__item
      p.text Бронь САП
        a(href="https://api.whatsapp.com/send?phone=79160284976").link
          +icon("icons-whatsapp", 24, 24).submenu__icon
        a(href="tel:+79160284976").link.submenu__tel.submenu__tel--main +7 916 028 4976

    li.submenu__item
      p.text Администратор
        a(href="https://api.whatsapp.com/send?phone=79588136729").link
          +icon("icons-whatsapp", 24, 24).submenu__icon
        a(href="tel:+79588136729").link.submenu__tel
          | +7 958 813 6729

    li.submenu__item.submenu__adress
      a(href="#map").link
        +icon("icon-pin", 10, 10)
        | Строгинское шоссе, вл.3 (м. Строгино или м. Щукинская)
