mixin submenu(icon=true)

  ul.submenu.list-reset(role="list")&attributes(attributes)
    li.submenu__item
      a(href="tel:+79166011546").link.submenu__tel.submenu__tel--main +7 916 601 1546

    li.submenu__item
      a(href="tel:+79261739847").link.submenu__tel
        if icon
          +icon("icons-whatsapp", 24, 24).submenu__icon
        | +7 926 173 9847

    li.submenu__item.submenu__adress
      a(href="").link
        +icon("icon-pin", 10, 10)
        | Строгинское шоссе, вл.3 (м. Строгино или м. Щукинская)
