  .table.no-scrollbar
    table
      thead
        tr
          th
          th будний день до 20:00
          th будний день с 20:00
          th выходной день и пт с 17:00:
      tbody
        tr
          td НАДУВНОЙ САП
          td #[span.bold 800 р.] первый час, далее:&nbsp;#[span.bold 600]
          td #[span.bold 1000 р.] первый час, далее:&nbsp;#[span.bold 600]
          td #[span.bold 1200 р.] первый час, далее:&nbsp;#[span.bold 800]
        tr
          td ЖЕСТКИЙ САП
          td #[span.bold 900 р.] первый час, далее:&nbsp;#[span.bold 600]
          td #[span.bold 1000 р.] первый час, далее:&nbsp;#[span.bold 600]
          td #[span.bold 1400 р.] первый час, далее:&nbsp;#[span.bold 1000]
        tr
          td ГОНОЧНЫЙ САП
          td(colspan="2") #[span.bold +200 р./ч] к тарифу прогулочного надувного САП
        tr
          td Углепластиковое весло
          td(colspan="3") #[span.bold +300/100/100]
        tr
          td(colspan="4") Использование одной доски САП, или каноэ на двоих #[span.bold +50%], дополнительное весло #[span.bold +300 р/час]
