.header {
  padding: 12px 0 0;
  text-transform: uppercase;

  &__row {
    display: flex;
    align-items: flex-end;
    padding: 0 40px;
  }

  &__logo {
    color: $color-default-white;
  }

  &__submenu {
    margin-top: 12px;
    border-top: 1px solid rgba($color-default-black, 0.1);
  }
}
