.main-nav {
  margin-left: auto;
  padding-bottom: 6px;

  font-weight: 600;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-right: -16px;

    @include vp-1023 {
      display: none;
    }
  }

  &__link {
    padding: 8px 16px;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;

    @include vp-1023 {
      display: flex;
    }
  }
}
