.map {

  &__ymaps {
    display: block;
    padding-top: 2rem;
  }

  &__list {
    margin: 0;
    padding-left: 1rem;
  }

  &__title {
    margin: 1rem 0;
  }

  &__list-item {
    margin-bottom: 0.5rem;
  }

  &__img {
    position: relative;
    color: $color-default-white;

    &:hover,
    &:focus {
      .map__zoom-icon {
        transform: scale(1.7);
      }
    }

  }

  &__zoom-icon {
    position: absolute;
    top: 48%;
    left: 48%;

    width: 24px;
    height: 24px;

    transform: scale(1);
    transform-origin: center;
    transition: transform $trans-default;

    @include vp-767 {
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
