.map {
  padding-bottom: 0;

  &__wrapper {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
  }

  &__ymaps {
    display: block;
    padding-top: 2rem;
  }

  &__list {
    margin: 0;
    padding-left: 1rem;
  }

  &__title {
    margin: 1rem 0;
  }

  &__list-item {
    margin-bottom: 0.5rem;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // column-gap: 2rem;
    margin-bottom: 2rem;
  }
}
