.news-card {
  &__link::after {
    content: "показать полностью ↓";
  }

  &__title {
    padding: 0.8rem 0 0.5rem;
    line-height: 1.3;
  }

  &__text {
    margin: 0 0 0.5rem;
    /* stylelint-disable-next-line */
    display: -webkit-box;
    /* stylelint-disable-next-line */
    -webkit-line-clamp: 3;
    /* stylelint-disable-next-line */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

    max-height: 63px;
    transition: max-height $trans-modal;

    @include vp-767 {
      -webkit-line-clamp: 3;
    }
  }

  &__link {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  time {
    font-size: 0.9rem;
    font-weight: 700;
  }

  &.is-open {
    .news-card__text {
      display: block;
      max-height: 5000px;
    }

    .news-card__link::after {
      content: "скрыть ↑"
    }

    .news-card__link span {
      display: none;
    }
  }
}
