.price {
  padding-bottom: 0;

  .table {
    margin-bottom: 3rem;
  }

  .text:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  &__note {
    font-size: 0.9rem;
    color: $color-grey;
  }
}
