.price {
  padding-bottom: 0;

  .text:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 2rem;
  }

  &__note {
    font-size: 0.9rem;
    color: $color-grey;

    @include vp-767 {
      margin: 0 1rem;
    }
  }
}
