.section {
  position: relative;
  padding: 3rem 0;

  @include vp-767 {
    padding: 2rem 0;
  }

  &__title {
    margin: 0 0 2rem;
  }

  &__icon {
    position: absolute;
    top: -20px;
    left: 50%;

    width: 200px;
    height: auto;
    transform: translateX(-50%);
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__wrapper {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;

    @include vp-767 {
      grid-template-columns: 1fr;
      padding-bottom: 0;
    }
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
