.section {
  position: relative;
  padding: 3rem 0;

  &__title {
    margin: 1.5rem 0;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;

    width: 200px;
    height: auto;
    transform: translateX(-50%);
  }
}
