.section {
  position: relative;
  padding: 3rem 0;

  &__title {
    margin: 0 0 2rem;
  }

  &__icon {
    position: absolute;
    top: -20px;
    left: 50%;

    width: 200px;
    height: auto;
    transform: translateX(-50%);
  }

  &__text {
    margin-bottom: 1rem;
  }
}
