.submenu {
  padding-top: 14px;
  padding-bottom: 20px;

  font-size: 0.8rem;

  flex-wrap: wrap;

  &__icon {
    vertical-align: bottom;
  }

  &__item {
    padding-right: 32px;

    @include vp-767 {
      padding-right: 0;
    }
  }

  &__item:first-child {
    @include vp-767 {
      margin-right: auto;
    }
  }

  &__tel {
    font-weight: 500;
    font-size: 1rem;

    white-space: nowrap;
  }

  &__tel--main {
    font-weight: 700;
    color: $color-blue;
  }

  &__adress {
    padding-right: 0;
    flex: 1;
    text-align: right;

    @include vp-767 {
      padding-top: 1rem;
      min-width: 100%;
      text-align: left;
      font-size: 0.5rem;
    }
  }

  svg {
    margin-right: 4px;
  }
}
