.swiper {
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;

  .swiper-button-next,
  .swiper-button-prev {
    color: $color-default-white;

    @include vp-1023 {
      display: none;
    }
  }

  .swiper-pagination {
    @include vp-1023 {
      display: none;
    }
  }

  .swiper-slide img {
    width: 102%;
    height: 102%;
    object-fit: cover;
  }

}
