.tabs {
  margin-top: 50px;
  max-width: 100%;
}

.tabs__controls {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.tabs__control {
  text-transform: uppercase;
  flex: 1 0 auto;

  &.is-active {
    color: $color-blue;
    pointer-events: none;
  }
}

.tabs__content {
  margin-bottom: 40px;

  transition: height 0.3s;
}

.tabs__element {
  padding: 10px;
  width: 100%;
}
