.title {
  margin: 0;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;

  &--md {
    font-size: 2.5rem;

    @include vp-767 {
      font-size: 2rem;
    }
  }

  &--sm {
    font-weight: 500;
    font-size: 1.2rem;
  }

  &--xs {
    font-weight: 600;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0.02em;
  }
}
