mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#news",
        text: "Новости"
      },
      {
        href: "#study",
        text: "Обучение"
      },
      {
        href: "#rent",
        text: "Прокат"
      },
      {
        href: "#travel",
        text: "Прогулки"
      },
      {
        href: "#price",
        text: "Цены"
      },
    ]

  header.header(class=headerMods)
    .header__row
      if(currentUrl === "index.html")
        +picture("content", "logo-200-56", "png", 200, 56, "Логотип Школы Ветра в Строгино")
      else
        a.header__logo(href="index.html" aria-label="Переход на главную") Логотип
      nav.main-nav
        button.main-nav__toggle.toggle.btn-reset(type="button" aria-label="Переключатель отображения меню" aria-pressed="false")
          span.toggle__line
          span.toggle__line
        .main-nav__wrapper
          ul.main-nav__list.list-reset(role="list")
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link.link(href=link.href)=link.text
    +submenu().header__row.header__submenu
