mixin picture(path, image, format, width, height, altText)
  picture(class!=attributes.class)
    source(type='image/webp', srcset="img/" + path + "/" + image + ".webp")
    img(src="img/" + path + "/" + image + "." + format, width= width, height= height, alt= altText)
